:root {
    --re-mention-text-color: #7289da;
    --re-mention-text-highlight: rgba(114,137,218,.1);
    --re-mention-bg-highlight: var(--background-mentioned);
    --re-mention-accent-line: #faa61a;
}

#a11y-hack {
.re-inline {
    background: var(--background-secondary);
    border-radius: 10px;
    max-width: 400px;
    overflow: hidden;
    margin-top: 2px;
    
    &>.re-mention-highlight {
        background: var(--re-mention-bg-highlight);
        height: 100%;
        padding-bottom: 6px;
        border-left: 2px solid var(--re-mention-accent-line);
    }

    .re-header {
        height: auto;
        padding-top: 8px;
        padding-left: 8px;
        min-height: 0px !important;
        &>.re-avatar {
            left: 0px;
            position: relative;
            width: 20px;
            height: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        &>.re-username {
            position: relative;
            margin-left: 8px;
            bottom: 5px;
            
            &.re-mention-1 {
                color: var(--re-mention-text-color);
                background: var(--re-mention-text-highlight);
            }
            &.re-mention-2 {
                color: var(--re-mention-text-color);
            }
        }
    }

    .re-content {
        position: relative;
        margin-left: 35px;
        top: -6px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;

        &>pre>code {
            max-height: 10rem;
        }
    }

    .re-button-container {
        display:flex;
        overflow:hidden;
        float: left;
        padding-left: 8px;

        &>div {
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            height: 20px;
            width: 20px;
            background-color: var(--background-tertiary);

            &>svg {
                width: 12px;
                height: 12px;

                &.re-180-flip {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}}