:root {
   --rq-highlight-text-color: #7289da;
   --rq-highlight-text-bg: rgba(114, 137, 218, 0.1);
   --rq-highlight-container: var(--background-mentioned);
   --rq-highlight-container-line: #faa61a;
}

.message-2qnXI6.mentioned-xhSam7>div:first-child>div>#a11y-hack>.rq-inline>div {
   background: var(--rq-highlight-container);
   .re-file:before {
      content: '';
      width: 50px;
      height: 50px;
      background: red;
   }
}

#a11y-hack{.rq-inline {
   background: var(--background-secondary);
   
   &:not(.rq-nested)>div>div.rq-content>div>div.attachment-33OFj0 { background: var(--background-tertiary) }

   .re-file { background: var(--background-tertiary); }

   &.rq-nested {
      background: var(--background-tertiary);

      .re-file { background: var(--background-secondary) }
   }

   border-radius: 10px;
   max-width: 500px;
   overflow: hidden;
   margin-top: 2px;
   display: grid;

   &>div {
      padding: 8px;
      display: grid;
      grid-template-columns: 20px auto;
      grid-template-rows: min-content auto;
      grid-column-gap: 8px;
      grid-row-gap: 4px;

      &.rq-highlight-container {
         background: var(--rq-highlight-container);
         height: 100%;
         padding-bottom: 6px;
         border-left: 2px solid var(--rq-highlight-container-line);

         .rq-inline > div { background: var(--rq-highlight-container) }

         .mention {
            background: transparent; 
            &:hover { 
               color: var(--rq-highlight-text-color); 
               text-decoration: underline;
            }
         }
      }
      &.rq-highlight-container-alt { border-left: none; }
   }

   .rq-clickable {
      cursor: pointer;
      &:hover { text-decoration: underline; }
   }

   &>div>.rq-header {
      min-height: 0px !important;
      grid-column: 1 / 2;
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 8px;

      &>.rq-avatar {
         width: 20px;
         height: 20px;

         // Class fixes
         position: unset; left: 0px; margin: 0px;
      }

      &>.rq-userTag {
         display: grid;
         grid-template-columns: auto auto auto;
         grid-gap: 4px;
         white-space: nowrap;
         user-select: none;
         align-items: baseline;

         .rq-highlight {
            -webkit-text-fill-color: unset;
            color: var(--rq-highlight-text-color);
            background: var(--rq-highlight-text-bg);
            font-weight: 500;
         }
         .rq-highlight-alt { background: transparent; }

         &>.rq-username { line-height: 1.275rem; }

         .rq-infoText { color: var(--header-secondary) }
         
         .rq-margin { margin-right: 4px }

         &>.rq-timestamp { margin-left: 0px; }
      }
   }

   &>div>.rq-content {
      grid-column: 2;
      grid-row: 2;
      position: unset;
      margin-top: -3px; // Line height BS hack

      &>div {
         margin-left: 0px;
         padding-left: 0px;

         &>pre {
            max-width: 356px;
            &>code { max-height: 10rem; }
         }
      }
      &>.container-1ov-mD {
         width: 100%;

         &>.wrapperAudio-1jDe0Q {
            background-color: var(--background-tertiary);

         }
         &>.embedFull-2tM8-- {
            background-color: var(--background-tertiary);
            max-width: unset !important;
            width: 100%;
            &>div {
               width: 94%;
               &>div { width: 90% !important }
            }
         }
      }
   }

   &>div>.rq-button-container {
      grid-column: 1;
      grid-row: 2;
      width: 20px;

      display: grid;
      grid-auto-rows: 20px;
      grid-row-gap: 3px;

      &>div>.rq-button {
         width: 20px;
         height: 20px;
         border-radius: 10px;
         background-color: var(--background-tertiary);

         display: grid;
         align-content: center;
         justify-content: center;

         pointer-events: all;

         * { pointer-events: none; }
         span { transform: scale(.8); }

         svg {
            width: 14px;
            height: 14px;
         }

         &.rq-jump > svg { transform: rotateY(180deg) }
         &.rq-channel-jump > svg { width: 12px; height: 12px }
      }
   }
}}

#rich-quotes-preview {
   height: 455px;
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 1px var(--background-secondary) solid;
   overflow: hidden;

   &>div { height: calc(100% - 48px); }

   .buttonContainer-DHceWr,.toolbar-1t6TWx { display: none; }

   #owo-6 { margin-bottom: 1.4rem; }
}

main.contentColumn-2hrIYH .rq-settingsHeader { margin-bottom: .8rem; }

.rq-preloader {
   background: var(--background-secondary);
   padding: 1rem;
   border-radius: .5rem;
   width: 24rem;
   margin-bottom: .5rem;
}

.rq-error {
   background: var(--background-secondary);
   padding: 1rem;
   border-radius: .5rem;
   width: 24rem;
   margin-bottom: .5rem;

   &>.powercord-settings-item {
      margin: 0px !important;
      width: min-content;
      height: min-content;

      button {
         margin-top: .5rem;
         margin-left: 0px !important;
      }

      &>div[class^=divider] {
         display: none;
      }
  }
}

.rq-tooltip { height: min-content }

.rq-server-title { font-weight: 600; }

.rq-hide-reply-header>div>h2 { 
   &>span:first-child {
      &>span:nth-child(2) { display: none }
      &>span:nth-child(3) { display: none }
   }
   // :concern:
   &>span:last-child {
      margin-left: -7px !important;
   }
}

.rq-nesting-cap { color: var(--text-muted) }